<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.6/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.6/plugin/customParseFormat.js"></script>
</head>
<body>
    <div class="container">
        <div id="app">
            <!-- Contatti -->
            <div class="col-4">
                <!-- Header -->
                <header>
                    <div class="avatar">
                        <img class="avatar-img" 
                        :src="`./img/avatar${data.user.avatar}.jpg`" 
                        :alt="data.user.name">
                        <span>{{data.user.name}}</span>
                    </div>
                    <div class="icons">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </header>
                <!-- Notifiche -->
                <section class="notification">
                    <div class="silence">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="notification-msg">
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <div class="underlined">Attiva notifiche desktop</div>
                    </div>
                </section>
                <!-- Ricerca -->
                <section class="search-form">
                    <i class="fas fa-search"></i>
                    <input class="search-chat" type="text" placeholder="Cerca o inizia una nuova chat" 
                    v-model="searchItem"> 
                </section>
                <!-- Lista contatti -->
                <ul class="contact-list">
                    <li class="list-avatar" 
                     v-for="(contact, index) in data.contacts" 
                     v-if="selectContact(contact)"
                     @click="setIndex(index)">
                        <img class="avatar-img" 
                        :src="`./img/avatar${contact.avatar}.jpg`" 
                        :alt="contact.name">
                        <span>{{contact.name}}</span>
                    </li>
                </ul>
            </div>
            <!-- Chat -->
            <div class="col-8">
                <!-- Header -->
                <header>
                    <section class="avatar">
                        <img class="avatar-img" 
                        :src="`./img/avatar${data.contacts[index].avatar}.jpg`" 
                        :alt="data.contacts[index].name">
                        <div class="contact-info"> 
                            <div>{{data.contacts[index].name}}</div>
                            <div class="font-small">Ultimo accesso oggi alle</div>
                        </div>
                    </section>
                    <section class="icons">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </section>
                </header>
                <!-- Main -->
                <main id="chat-main">
                    <div :class="`msg ${item.status}`" 
                    v-for="item in data.contacts[index].messages">
                        <div class="caret">
                            <i class="fas fa-angle-down"></i>
                            <div class="dropdown">
                                <div class="dropdown-text">Info messaggio</div>
                                <div class="dropdown-text">Cancella</div>
                            </div>    
                        </div>
                        <div class="msg-text">{{item.message}}</div>
                        <div class="font-small time-stamp">{{item.date}}</div>
                    </div>
                </main>
                <!-- Footer -->
                <footer>
                    <i class="far fa-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio" 
                    v-model.trim="msg" 
                    @keyup.enter="sendMsg">
                    <i class="fas fa-microphone"></i>
                </footer>
            </div>
        </div>
    </div>
    <script src="./js/data.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>